<form #budgetForm="ngForm" (ngSubmit)="save()"> 

  <div *ngIf="submitted" class="alert {{success ? 'alert-success' : 'alert-danger'}} mt-3" role="alert">
    {{success ? "save successfully submitted" : "error in input"}}
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="name">
  </div>

  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input 
      type="date" 
      class="form-control"
      name="startDate"        
      [ngModel]="startDate | date:'yyyy-MM-dd'" 
      [ngModelOptions]="{updateOn: 'blur'}"
      (ngModelChange)="startDate=getDate($event)"        
      required>
  </div>    

  <div class="form-group">
    <label for="endDate">End Date</label>
    <input 
      type="date" 
      class="form-control"
      name="endDate"        
      [ngModel]="endDate | date:'yyyy-MM-dd'" 
      [ngModelOptions]="{updateOn: 'blur'}"
      (ngModelChange)="endDate=getDate($event)"        
      required>
  </div>

  <div class="form-group">
    <label for="amount">Amount</label>
    <input 
      type="number" 
      class="form-control" 
      name="amount"  
      [ngModel]="amount"
      [ngModelOptions]="{updateOn: 'blur'}"
      (ngModelChange)="amount=getAmount($event)"
      min="0.00"
      step="0.01"
      required> 
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!budgetForm.form.valid">Save</button>
  <button type="button" class="btn btn-secondary ml-3" (click)="budgetForm.reset()">Clear</button>

</form>
