  <checkbook-nav></checkbook-nav>
  <div class="container d-inline-block mb-5">
    <div class="row">
      <div class="col-3"><span id="pageTitle" class="h1">{{ title }}</span></div>
    </div>
    <div class="row">
      <div class="col-3 text-right"><span class="h4 align-middle">Name:</span></div>
      <div class="col"><span class="align-middle">{{ budget.name }}</span></div>      
    </div>
    <div class="row">
      <div class="col-3 text-right"><span class="h4 align-middle">Start Date:</span></div>
      <div class="col"><span class="align-middle">{{ budget.startDate | date:'MM/dd/yyyy'}}</span></div>
    </div>
    <div class="row">
      <div class="col-3 text-right"><span class="h4 align-middle">End Date:</span></div>
      <div class="col"><span class="align-middle">{{ budget.endDate | date:'MM/dd/yyyy' }}</span></div>
    </div> 
    <div class="row mb-3">
      <div class="col-3 text-right"><span class="h4 align-middle">Amount:</span></div>
      <div class="col"><span class="align-middle">{{ budget.amount | currency:'USD':'symbol':'1.2-2' }}</span></div>
    </div>
    <div class="row">
      <div class="col-3 text-right"><span class="h4 align-middle">Available Funding:</span></div>
      <div class="col"><span class="align-middle">{{ budget.amount | currency:'USD':'symbol':'1.2-2'}}</span></div>
    </div>
  </div>
  <allocation-list></allocation-list>
