<checkbook-nav></checkbook-nav>
<div class="container-fluid">
    <span id="pageTitle" class="h1 d-inline-block align-middle">{{ title }}</span>
    <button class="btn btn-primary d-inline-block align-middle ml-4" (click)="add()">Add</button>
</div>
<table class="table table-hover" *ngIf="budgetList">
    <thead class="thead-light text-center">
        <tr>
            <th class="h4 name">Name</th>
            <th class="h4 startDate">Start Date</th> 
            <th class="h4 endDate">End Date</th>
            <th class="h4 amount">Amount</th>
            <th class="h4 update"></th> 
            <th class="h4 delete"></th> 
        </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let budget of budgetList"> 
        <td><a [routerLink]="['/budgets', budget.name]">{{ budget.name }}</a></td>
        <td>{{ budget.startDate | date:'MM/dd/yyyy' }}</td>
        <td>{{ budget.endDate | date:'MM/dd/yyyy' }}</td>
        <td>{{ budget.amount | currency:'USD':'symbol':'1.2-2' }}</td>
        <td><button class="btn btn-warning" (click)="update(budget.name)">Update</button></td>
        <td><button class="btn btn-danger" (click)="delete(budget.name)">Delete</button></td>
      </tr>
    </tbody>
</table>
