<checkbook-nav></checkbook-nav>
<div class="container">
    <span id="pageTitle" class="h1">{{ title }}</span>
    <budget-form 
        [name]="budget.name"
        [startDate]="budget.startDate"
        [endDate]="budget.endDate"
        [amount]="budget.amount">
    </budget-form>
</div>

