<form #budgetForm="ngForm" (ngSubmit)="save()"> 

  <div *ngIf="submitted" class="alert {{success ? 'alert-success' : 'alert-danger'}} mt-3" role="alert">
    {{success ? "save successfully submitted" : "error in input"}}
  </div>

  <div class="form-group">
    <label for="entryDate">Entry Date</label>
    <input 
      type="date" 
      class="form-control"
      name="entryDate"        
      [ngModel]="entryDate | date:'yyyy-MM-dd'" 
      [ngModelOptions]="{updateOn: 'blur'}"
      (ngModelChange)="entryDate=getDate($event)"        
      required>
  </div>

  <div class="form-group">
      <label for="amount">Description</label>
      <input type="text" class="form-control" id="description" name="description" required [(ngModel)]="description"> 
  </div>

  <div class="form-group">
      <label for="amount">Amount</label>
      <input 
        type="number" 
        class="form-control" 
        name="amount"  
        [ngModel]="amount"
        [ngModelOptions]="{updateOn: 'blur'}"
        (ngModelChange)="amount=getAmount($event)"
        min="0.00"
        step="0.01"
        required> 
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!budgetForm.form.valid">Save</button>
  <button type="button" class="btn btn-secondary ml-3" (click)="budgetForm.reset()">Clear</button>

</form>
