<nav class="navbar navbar-expand navbar-dark bg-dark">
    <span class="navbar-brand h1 mb-0">{{title}}</span>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/budgets']">Budgets</a>
        </li>
        <li class="nav-item" *ngIf="budgetId">
            <a class="nav-link" [routerLink]="['/budgets', budgetId]">{{budgetId}}</a>
        </li>
        <li class="nav-item" *ngIf="allocationId">
            <a class="nav-link" [routerLink]="['/allocations', budgetId, allocationId]">{{allocationId}}</a>
        </li>
    </ul>    
</nav>
