<checkbook-nav></checkbook-nav>
<div class="container">
    <span id="pageTitle" class="h1">{{ title }}</span>
    <allocation-form
        [name]="allocation.name"
        [amount]="allocation.amount">
    </allocation-form>
</div>
