
.h1, .h2, .h3, .h4, .h5, .h6 { cursor: default; }

table .name { width: 20%; }
table .amount { width: 20%; }
table .spent { width: 20%; }
table .difference { width: 20%; }
table .update { width: 10%; }
table .delete { width: 10%; }
