<div class="container-fluid">
    <span class="h1 d-inline-block align-middle">{{ title }}</span>
    <button class="btn btn-primary d-inline-block align-middle ml-4" (click)="add()">Add</button>
</div>
<table class="table table-hover" *ngIf="allocations">
  <thead class="thead-light text-center">
      <tr>
          <th class="h4 name">Name</th>
          <th class="h4 amount">Amount</th>
          <th class="h4 spent">Spent</th>
          <th class="h4 difference">Difference</th>
          <th class="h4 update"></th> 
          <th class="h4 delete"></th> 
      </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let allocation of allocations">
      <td><a [routerLink]="['/allocations', budgetId, allocation.name]">{{ allocation.name }}</a></td>
      <td>{{ allocation.amount | currency:'USD':'symbol':'1.2-2' }}</td>
      <td>???</td>
      <td>???</td>
      <td><button class="btn btn-warning" (click)="update(allocation.name)">Update</button></td>
      <td><button class="btn btn-danger" (click)="delete(allocation.name)">Delete</button></td>
    </tr>
  </tbody>
</table>