<checkbook-nav></checkbook-nav>
<div class="container d-inline-block mb-5">
    <div class="row">
        <div class="col-2"><span id="pageTitle" class="h1">{{ title }}</span></div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><span class="h4 align-middle">Name:</span></div>
        <div class="col"><span class="align-middle">{{ allocation.name }}</span></div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><span class="h4 align-middle">Amount:</span></div>
        <div class="col"><span class="align-middle">{{ allocation.amount | currency:'USD':'symbol':'1.2-2' }}</span></div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><span class="h4 align-middle">Spent:</span></div>
        <div class="col"><span class="align-middle">???</span></div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><span class="h4 align-middle">Unspent:</span></div>
        <div class="col"><span class="align-middle">???</span></div>
    </div>
</div>
<expense-list></expense-list>
