
.h1, .h2, .h3, .h4, .h5, .h6 { cursor: default; }

table .entryDate { width: 20%; }
table .description { width: 20%; }
table .amount { width: 20%; }
table .update { width: 20%; }
table .delete { width: 20%; }
