<checkbook-nav></checkbook-nav>
<div class="container">
    <span id="pageTitle" class="h1">{{ title }}</span>
    <expense-form
        [entryDate]="expense.entryDate"
        [description]="expense.description"
        [amount]="expense.amount">
    </expense-form>
</div>
