<div class="container-fluid">
    <span class="h1 d-inline-block align-middle">{{ title }}</span>
    <button class="btn btn-primary d-inline-block align-middle ml-4" (click)="add()">Add</button>
</div>
<table id="expenseList" class="table table-hover">
    <thead class="thead-light text-center">
        <tr>
            <th class="h4 entryDate">Date</th>
            <th class="h4 description">Description</th>
            <th class="h4 amount">Amount</th>
            <th class="h4 update"></th> 
            <th class="h4 delete"></th> 
        </tr>
    </thead>
    <tbody *ngIf="expenses">
      <tr class="text-center" *ngFor="let expense of expenses">
        <td>{{ expense.entryDate | date:'MM/dd/yyyy' }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount |  currency:'USD':'symbol':'1.2-2' }}</td>
        <td><button class="btn btn-warning" (click)="update(expense)">Update</button></td>
        <td><button class="btn btn-danger" (click)="delete(expense)">Delete</button></td>
      </tr>
    </tbody>
</table>
